<section id="educacion" class="educacion">
    <div class="container">

      <div class="section-title">
        <h2>Educacion</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          
          <div class="educacion-item pb-0">
            <h4>Juan Cruz Anderson</h4>
            <p><em>Como persona con gran motivacion, soy capaz de adaptarme a distintas circustancias , y dar siempre lo mejor de mi en cualquier proyecto.</em></p>
            <p>
            <ul>
              <li>La Cumbre, Córdoba, Argentina</li>
              <li>(3548) 58-8021</li>
              <li>andersonjuancruz97@gmail.com</li>
            </ul>
           
          </div>

          
          <div class="educacion-item">
            <h4>IDES Gral. San Martín </h4>
            <h5>2008 - 2014</h5>
            <p><em>La Cumbre, Córdoba, Argentina</em></p>
            
          </div>
          <div class="educacion-item">
            <h4>Facultad de Arquitectura, Urbanismo &amp; Diseño</h4>
            <h5>2016 - 2019</h5>
            <p><em>Universidad Nacional De Córdoba, Córdoba, Argentina</em></p>
            
          </div>
        </div>
        <div class="col-lg-6">
          
          <div class="educacion-item">
            <h4>Facultad de Matematica, Astronomia, Fisica &amp; Computación</h4> 
            <h5>2020 - Present</h5>
            <p><em>Universidad Nacional de Córdoba,Córdoba, Argentina</em></p>
           
          </div>
          <div class="educacion-item">
            <h4>Argentina Programa</h4>
            <h5>2021 - Present</h5>
            <p><em>Córdoba,Argentina</em></p>
            
          </div>
        </div>
      </div>

    </div>
  </section>
