<section id="proyecto" class="educacion">
    <div class="container">

      <div class="section-title">
        <h2>Proyectos</h2>

        <p>Algunos de mis proyectos realizados</p>
      </div>

      <div class="col-lg-7 mx-auto style=width:100%">
        <button type="button" class="btn btn-dark" routerLink="/nuevaproyecto" *ngIf="isLogged">Nuevo Proyecto</button>
      </div>

      <div class="col-lg-11">
        <div class="educacion-item pb-0">
          <table class="table">
            <tbody>
              <tr *ngFor="let Proyecto of proyecto">
                <td>
                  <h4>{{Proyecto.nombreE}}</h4>
                </td>
                <td>
                  <p><em>{{Proyecto.descripcionE}}</em></p>
                </td>
                <td *ngIf="isLogged"><button class="btn btn-secondary btn-md" routerLink="/editproyecto/{{Proyecto.id}}">
                    Editar <i class="bi bi-pencil-fill"></i>
                  </button></td>
                <td *ngIf="isLogged"><button class="btn btn-danger btn-md" (click)="delete(Proyecto.id)">
                    Borrar <i class="bi bi-trash2"></i>
                  </button></td>
              </tr>
            </tbody>
          </table>
        </div>

      <div class="row">
        <div class="col-lg-6">
          
          <div class="educacion-item ">
            <h4><u>Proyecto Dulces La Tata</u></h4>
            <p><em>El primer Proyecto que hice, con conocimientos muy basicos de Front - End. Proyecto para mi familia, como idea base una tienda virtual.</em></p>
            <p>
            <ul>
              <p><u>Lenguajes Utilizados</u><p>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
           
          </div>

          
          <div class="educacion-item">
            <h4><u> Proyecto Blog de Cafe</u></h4>
            <p><em>Un blog donde se publican cosas referidas al cafe, con noticias, cursos y mas.</em></p>
            <ul>
                <p><u>Lenguajes Utilizados</u><p>
                <li>HTML</li>
                <li>CSS</li>
              </ul>

            
          </div>
          <div class="educacion-item">
            <h4><u>Proyecto Festival de musica</u></h4>
            <p><em>Una pagina donde se publican eventos musicales, con sus respectivos cantantes y dias de presentacion, con la posibilidad de poder sacar tickets por la misma.</em></p>
            <ul>
                <p><u>Lenguajes Utilizados</u><p>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
              </ul>
            
          </div>
        </div>
        <div class="col-lg-6">
          
          <div class="educacion-item">
            <h4><u>Proyecto Task-List</u></h4> 
            
            <p><em>Mini proyecto para probar el framework de Angular. Una lista de tareas con la posibilidad de quitar/agregar tareas.</em></p>
            <p><u>Lenguajes Utilizados</u><p>
                <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
              </ul>
           
          </div>
          <div class="educacion-item">
            <h4><u>Proyecto Portfolio Web</u></h4>
            
            <p><em>Proyecto Integrador del Curso Argentina Programa, es un Portfolio creado con el Framework de Angular para el Front-End, el Back-End con Spring Boot, y el motor de base de datos con MySQL </em></p>
            <p><u>Lenguajes Utilizados</u><p></p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li> JAVA </li>
                <li> SQL </li>
              </ul>
          </div>

          
        


        </div>
      </div>
      </div>
    </div>
  

    
  </section>

