    <!-- Comienzo Header-->
    <app-encabezado></app-encabezado>
    <!-- Final header -->
  
    <!-- Seccion Hero -->
    <app-principal></app-principal>
    <!-- Fin Seccion Hero -->
    
  
    <!-- Seccion Sobre Mi ---------------------------------------------------- -->
    <app-sobre-mi></app-sobre-mi>
    <!-- Final Seccion Sobre Mi --->



    <!-- Habilidades -->

    <!-- Final Habilidades Seccion -->
    <app-habilidades></app-habilidades>
    
    <!-- Educacion y Proyectos-->
    <app-educacion></app-educacion>
    <!-- Fin Educación -->


    <!--Contacto -->
    <app-contacto></app-contacto>
    <!-- Fin Contacto -->
     

   

    <!--  Footer  -->
    <app-footer></app-footer>
<!-- Final Footer -->
