<section id="sobremi" class="sobre mi">
    <div class="container">
      <div class="seccion-titulo"> 
        
        <h2> Sobre Mi</h2>

        <div class="btn-edit" onclick="cambiar_parrafo()"> 
          <i class="bi bi-pencil-fill" style="font-size: 1.5rem "></i>
        </div>
        
        <p id="text-acercade">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        <div>
          <input id="edit-acercade" type="text" oninput="myfunction2(this.value)" style="display:none">
        </div>
      </div>

      <div class="row">
        <div class="avatar" style="background-image: url(assets/img/Perfil.webp)"></div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3 class="h3">Developer Full Stack Jr &amp; HTML/CSS, JavaScript, Java, Base de Datos, DevOps</h3>
          <p id="text-acercade" class = "fst-italic"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li ><i class="bi bi-rounded-right"></i> <strong>Cumpleaños:</strong> 25 Junio 1997</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Telefono:</strong> +54 3548 58 8021<i class="bi bi-pencil-fill" style="font-size: 1rem; padding-right: 5px; "></i></li>
                <li><i class="bi bi-rounded-right"></i> <strong>Ciudad:</strong> La Cumbre, Córdoba, Argentina<i class="bi bi-pencil-fill" style="font-size: 1rem; padding-right: 5px; "></i></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Edad:</strong> 24 <i class="bi bi-pencil-fill" style="font-size: 1rem; padding-right: 5px; "></i></li>
                <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Junior <i class="bi bi-pencil-fill" style="font-size: 1rem; padding-right: 5px; "></i></li>
                <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> andersonjuancruz97@gmail.com<i class="bi bi-pencil-fill" style="font-size: 1rem; padding-right: 5px; "></i></li>
                </ul>
                <input id="edit-acercade" type="text" oninput="myfunction2(this.value)" style="display:none">
            </div>
            
          </div>
 
          <p id="text-acercade">
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            <i class="bi bi-pencil-fill" style="font-size: 1rem; padding-right: 5px; "></i>
            <div>
              <input id="edit-acercade" type="text" oninput="myfunction2(this.value)" style="display:none">
            </div>        
          
        </div>
       
      </div>
      
      <div>
        <input id="edit-acercade" type="text" oninput="myfunction2(this.value)" style="display:none">
      </div>
