body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #34b7a7;
    text-decoration: none;
  }
  
  a:hover {
    color: #51cdb5;
    text-decoration:none;
  }
  
  h1, h2 , h3 , h4 ,h5 ,h6 {
    font-family:'Raleway',sans-serif;
  }
  
  #main {
    margin-top: 50px ;
  }
  
  @media (max-width: 992px) {
    #main {
      margin: top 30px;
    }
  }
  
  
  
  
  /*HEADER */
  
  #header {
    background: #0f0e17;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    z-index: 997;
    padding: 0px 0;
  }
  
  .header-social-links {
    padding-right: 30px;
  }
  
  .header-social-links a {
    color: #fffffe;
    padding-left: 10px;
    display: inline-block;
    line-height: 0px;
    transition:0.3s;
    font-size:35px;
  }
  
  .login {
    margin-right: 60px;
    
  }
  
  .btn-outline-success {
    font-size: 20px;
    font-weight: 700;
  }
  
  
  
  .header-social-links a:hover{
    color: #34b7a7;
  }
  
  .imagen-logo{
    max-height:130px;
    
    
  }
  
  /* Menu Navegacion */
  
  .navbar {
    padding:0;
  }
  
  .navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li{
    position: relative;
    padding: 10px 0 10px 30px;
  }
  
  .navbar a, .navbar a:focus {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #fffffe;
    white-space: nowrap;
    transition:0,3s;
    position: relative;
    text-decoration: none;
  
  }
  
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #34b7a7;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
    visibility: visible;
    width: 25px;
  }
  
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #34b7a7;
  }
  
  /* Seccion Hero */
  
  #hero {
    width: 100%;
    height: 100vh;
    background:url("../src/assets/img/BackGround2.webp") top right;
    background-size:cover;
  
         
  }
  
  #hero::before{ 
  
    content:'';
      position: absolute;
          top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
  
  }
  
  #hero .container {
    padding-top: 70px;
    position: relative;
  }
  
  #hero h1 {
    margin: 0;
    font-size:70px;
    font-weight: bold;
    line-height:56px;
    color: #eff0f3;
    font-weight: 600;
  }
  
  #hero h2 {
    color: #eff0f3;
    margin: 25px 0 0 0;
    font-size:22px;
    
  }
  
  #hero .btn-about:hover {
    background:#34b7a7;
  }
  
  /* Seccion General */
  
  section {
    padding:40px 0;
    
  }
  
  .seccion-titulo {
    text-align:center;
    padding-bottom: 10px;
  }
  
  .seccion-titulo h2 {
    font-size:35px;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom: 20px;
    padding-bottom:20px;
    position: relative;
  }
  
  .seccion-titulo h2::after {
    content: " ";
    position: absolute;
    display: block;
    width: 50px;
    height: 5px;
    background:#34b7a7;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .seccion-titulo p {
    margin-bottom: 0;
  }
  
  
  .btn-edit {
    margin-bottom:20px;
    margin-right: 10px;
    
    
    
  }
  
  .bi-pencil-fill:hover{
    
    cursor: pointer;
    color: #34b7a7;
    
  }
  
  .bi-pencil-fill{
    margin-left: 5px;
  }
  
  
  
  
  
  
  /* Habilidades */

  
  .section-title h2::after{
    content: " ";
    position: absolute;
    display: block;
    width: 50px;
    height: 5px;
    background:#34b7a7;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title h2{
    font-size:35px;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom: 20px;
    padding-bottom:20px;
    position: relative;
    
  }
    
  .skills{
    text-align:center;
    margin-bottom:50px;
    
    
  }
  
  .skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    
    color: #222222;
  }
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  .skills .progress-bar-wrap {
    background: #f3f3f3;
  }
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: all 2s ease .5s;
    background-color: #34b7a7;
  }

  
  /* EDUCACION Y PROYECTO */
  
  
 .educacion .section-title {
  
    
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #222222;
    
  }
  .educacion .educacion-item {
    padding: 0 0 20px 20px;
    margin-top: 2rem;
    border-left: 2px solid #34b7a7;
    position: relative;
  }
  .educacion .educacion-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    
    color: #1d685f;
    margin-bottom: 10px;
  }
  .educacion .educacion-item h5 {
    font-size: 16px;
    background: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #34b7a7;
  }
  
  .educacion .educacion-item:last-child {
    padding-bottom: 0;
  }
  .educacion .educacion-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #34b7a7;
  }
  
  /* Contacto */
  
  .section-title{
    text-align: center;
  }
  
  .contacto {
    width: 70%;
    margin-left: 280px;
    background-color: #fff;
    
  }
  
  .contacto .form-group {
    padding-bottom: 8px;
    
  }
  
  .contacto input, .contacto textarea:focus {
    border-color: #34b7a7;
  }
  
  .contacto input {
    height: 44px;
    
  }
  
  .contacto textarea {
    padding:10px 12px;
    border-color: #34b7a7;
  }
  
  .contacto button[type=submit] {
    background: #34b7a7;
    border: 0;
    padding: 10px 30px 12px 30px;
    color: #fff;
    transition:0.4s;
    border-radius:50px;
  }
  
  /* Footer */
  
  #footer {
    background: #e9e8e6;
    padding:30px 0;
    color: #222222;
    font-size:15px;
    text-align:center;
    margin-top: 50px;
  
  }
  
  
  
  /* PAGINA LOGIN --*/
  
  .login , html {
    height:100%;
  }
